div#total{
    width: 980px;
    height: auto;
    margin: auto; /* centraliza a divisão na pagina */

}

header#topo{
    width: 100%; /* lembrando que ele está dentro do total */
    height: auto;
    float: left;
   /* background-color: yellow; */

}

figure#logotipo{
    width: 204px;
    height: 84px;
    margin: 20px auto;

}

nav#menu{
    width: 100%;
    height: 40px;
    background-color: black;
    float: left;
    text-align: center;
    border-radius: 10px;

}

nav#menu a{
    color: white;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    margin: 0 20px;
    text-transform: uppercase;

}

nav#menu a:hover{
    text-decoration: underline;

}

figure#banner{
    width: 100%;
    height: auto;
    float: left;
    margin: 5px 0 0 0;

}

figure#banner img{
    width: 100%;

}

article#conteudo{
    width: 60%;
    float: left;

}

aside#coluna{
    width: 35%;
    float: right;

}

footer#rodape{
    width: 100%;
    height: 30px;
    float: left;
    background-color: rgb(139, 56, 0);
    text-align: center;
    color: white;
    line-height: 30px;

}